
.content {
  & a {
    color: var(--primary);
    text-decoration: underline;
  }
  & p {
    margin-bottom: 1rem;
  }
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}
